/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Modo oscuro */
body.dark-mode {
  background-color: #121212;
  color: #e0e0e0;
}

.dark-mode .form-container {
  background-color: rgba(30, 30, 30, 0.9);
  color: #e0e0e0;
}

.dark-mode .bg-light {
  background-color: #333 !important;
  color: #e0e0e0;
}

.dark-mode .btn-primary {
  background-color: #1f1f1f;
  border-color: #333;
}
.btn-link {
  text-decoration: none;
  padding: 0;
  border: none;
}

.btn-link:focus {
  outline: none;
}

button {
  outline: none;
}
